USE [master]
GO
/****** Object:  Database [QLDP]    Script Date: 10-Apr-24 1:43:21 PM ******/
CREATE DATABASE [QLDP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDP.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDP]
GO
/****** Object:  Table [dbo].[CHI_TIET_SU_DUNG_DV]    Script Date: 10-Apr-24 1:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SU_DUNG_DV](
	[MaDatPhong] [nvarchar](50) NOT NULL,
	[MaDV] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_SU_DUNG_DV1] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAT_PHONG]    Script Date: 10-Apr-24 1:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_PHONG](
	[MaDatPhong] [nvarchar](50) NOT NULL,
	[MaPhong] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[NgayDat] [date] NOT NULL,
	[GioBatDau] [nvarchar](50) NOT NULL,
	[GioKetThuc] [nvarchar](50) NOT NULL,
	[TienDatCoc] [money] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TrangThaiDat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICH_VU_DI_KEM]    Script Date: 10-Apr-24 1:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU_DI_KEM](
	[MaDV] [nvarchar](50) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_DICH_VU_DI_KEM] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10-Apr-24 1:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 10-Apr-24 1:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[SoKhachToiDa] [int] NOT NULL,
	[GiaPhong] [money] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHI_TIET_SU_DUNG_DV] ([MaDatPhong], [MaDV], [SoLuong]) VALUES (N'DP0001', N'DV001', 20)
INSERT [dbo].[CHI_TIET_SU_DUNG_DV] ([MaDatPhong], [MaDV], [SoLuong]) VALUES (N'DP0001', N'DV002', 10)
INSERT [dbo].[CHI_TIET_SU_DUNG_DV] ([MaDatPhong], [MaDV], [SoLuong]) VALUES (N'DP0001', N'DV003', 3)
INSERT [dbo].[DAT_PHONG] ([MaDatPhong], [MaPhong], [MaKH], [NgayDat], [GioBatDau], [GioKetThuc], [TienDatCoc], [GhiChu], [TrangThaiDat]) VALUES (N'DP0001', N'P0001', N'KH0002', CAST(N'2018-03-26' AS Date), N'11:00', N'13:00', 100.0000, NULL, N'Da dat')
INSERT [dbo].[DAT_PHONG] ([MaDatPhong], [MaPhong], [MaKH], [NgayDat], [GioBatDau], [GioKetThuc], [TienDatCoc], [GhiChu], [TrangThaiDat]) VALUES (N'DP0002', N'P0001', N'KH0003', CAST(N'2018-03-27' AS Date), N'17:15', N'19:15', 50.0000, NULL, N'Da huy')
INSERT [dbo].[DAT_PHONG] ([MaDatPhong], [MaPhong], [MaKH], [NgayDat], [GioBatDau], [GioKetThuc], [TienDatCoc], [GhiChu], [TrangThaiDat]) VALUES (N'DP0003', N'P0002', N'KH0002', CAST(N'2018-03-26' AS Date), N'20:30', N'22:15', 100.0000, NULL, N'Da dat')
INSERT [dbo].[DICH_VU_DI_KEM] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'DV001', N'Beer', N'lon', 10.0000)
INSERT [dbo].[DICH_VU_DI_KEM] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'DV002', N'Nuoc ngot', N'lon', 8.0000)
INSERT [dbo].[DICH_VU_DI_KEM] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'DV003', N'Trai cay', N'dia', 35.0000)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChi], [SoDT]) VALUES (N'KH0001', N'NGUYEN VAN A', N'Hoa xuan', N'1111111111')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChi], [SoDT]) VALUES (N'KH0002', N'NGUYEN VAN B', N'Hoa hai', N'1111111112')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChi], [SoDT]) VALUES (N'KH0003', N'PHAN VAN A', N'Cam le', N'1111111113')
INSERT [dbo].[PHONG] ([MaPhong], [LoaiPhong], [SoKhachToiDa], [GiaPhong], [MoTa]) VALUES (N'P0001', N'Loai 1', 20, 60.0000, NULL)
INSERT [dbo].[PHONG] ([MaPhong], [LoaiPhong], [SoKhachToiDa], [GiaPhong], [MoTa]) VALUES (N'P0002', N'Loai 1', 25, 80.0000, NULL)
INSERT [dbo].[PHONG] ([MaPhong], [LoaiPhong], [SoKhachToiDa], [GiaPhong], [MoTa]) VALUES (N'P0003', N'Loai 2', 15, 50.0000, NULL)
ALTER TABLE [dbo].[CHI_TIET_SU_DUNG_DV]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SU_DUNG_DV_DAT_PHONG] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DAT_PHONG] ([MaDatPhong])
GO
ALTER TABLE [dbo].[CHI_TIET_SU_DUNG_DV] CHECK CONSTRAINT [FK_CHI_TIET_SU_DUNG_DV_DAT_PHONG]
GO
ALTER TABLE [dbo].[CHI_TIET_SU_DUNG_DV]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SU_DUNG_DV_DICH_VU_DI_KEM] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICH_VU_DI_KEM] ([MaDV])
GO
ALTER TABLE [dbo].[CHI_TIET_SU_DUNG_DV] CHECK CONSTRAINT [FK_CHI_TIET_SU_DUNG_DV_DICH_VU_DI_KEM]
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_DAT_PHONG_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DAT_PHONG] CHECK CONSTRAINT [FK_DAT_PHONG_KHACH_HANG]
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_DAT_PHONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[DAT_PHONG] CHECK CONSTRAINT [FK_DAT_PHONG_PHONG]
GO
USE [master]
GO
